@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

*:not(i) {
  font-family: "Nunito", sans-serif;
  font-weight: 400; }

/* override variables for dark them */
body.dark {
  background-color: #fff;
  background-color: #353535;
  background-color: #2b2c2f;
  color: #fff;
  color: #fff;
  color: #bbb;
  box-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
  box-shadow: 0 0 0 #222327, 0 0 0 #363636;
  box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636; }

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: #eff0f4; }

body.hidden-scrolling {
  overflow-y: hidden; }

:before,
:after {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; }

.container {
  max-width: 1140px;
  margin: auto; }

.row {
  display: flex;
  flex-wrap: wrap; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); }
  50% {
    transform: translateY(25px); } }

@keyframes bounceLeft {
  0%,
  100% {
    transform: translatex(0); }
  50% {
    transform: translatex(15px); } }

@keyframes bouncers {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-100px); } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

span {
  font-weight: bold; }

.justify-content-between {
  justify-content: space-between; }

.outer-shadow {
  box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8; }

.inner-shadow {
  box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8; }

.hover-in-shadow {
  position: relative;
  z-index: 1; }
  .hover-in-shadow:hover {
    box-shadow: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8; }

.hover-in-shadow:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease; }

.hover-in-shadow:hover:after {
  box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8; }

.align-items-center {
  align-items: center; }

.separator {
  height: 2px;
  width: 100%;
  display: block;
  background-color: #ddd; }

.btn {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  color: #984063;
  background-color: transparent;
  line-height: 1.5;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  margin-top: 30px; }
  .btn:after {
    border-radius: 5px; }
  .btn--margin-right {
    margin-right: 50px; }
  .btn--margin-top-small {
    margin-top: 15px; }

.effect__wrap .effect--position {
  position: absolute;
  z-index: 1; }

.effect-1 {
  width: 30px;
  height: 30px;
  border: 4px solid #41436a;
  right: 10%;
  bottom: 10%;
  animation: spin 10s linear infinite; }

.effect-2 {
  left: 3%;
  bottom: 20%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: bounce 3s ease-in-out infinite; }
  .effect-2 div {
    height: 3px;
    width: 3px;
    background-color: #f64668;
    margin: 0 3px 8px; }

.effect-3 {
  height: 180px;
  width: 180px;
  border: 25px solid #984063;
  border-radius: 50%;
  left: 50%;
  top: -120px;
  animation: bounceLeft 3s ease infinite; }

.effect-4 {
  border-top: 30px solid transparent;
  border-left: 30px solid #f64668;
  left: 30%;
  top: 20%;
  animation: spin 15s linear infinite; }
  .effect-4:before {
    content: "";
    border-top: 30px solid transparent;
    border-left: 30px solid #f64668;
    left: -35px;
    top: -25px;
    opacity: 0.5;
    position: absolute; }

.effect-5 {
  height: 50px;
  width: 50px;
  right: 10%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 20s linear infinite; }
  .effect-5 div {
    width: 1px;
    background-color: #fe9677; }

.header {
  padding: 20px 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99; }
  .header__logo-link {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #984063;
    height: 40px;
    width: 40px;
    border: 2px solid #984063;
    border-radius: 50%;
    text-transform: uppercase; }
  .header__hamburger-btn {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 30%;
    transition: all 0.3 ease; }
    .header__hamburger-btn:after {
      border-radius: 30%; }
    .header__hamburger-btn span {
      display: block;
      height: 2px;
      width: 16px;
      background-color: #000;
      position: relative; }
      .header__hamburger-btn span:before, .header__hamburger-btn span:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000; }
      .header__hamburger-btn span:before {
        top: -6px; }
      .header__hamburger-btn span:after {
        top: 6px; }

.home {
  position: relative; }
  .home__full-screen {
    padding: 50px 0;
    min-height: 100vh; }
  .home__intro-text h1 {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #555;
    margin: 0; }
  .home__intro-text h2 {
    font-size: 55px;
    font-weight: 700;
    text-transform: capitalize;
    color: #000;
    margin: 0; }
  .home__intro-text p {
    color: #666;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0; }
  .home__img-box {
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px; }
    .home__img-box img {
      width: 100%;
      border-radius: 50%;
      border: 10px solid transparent; }
  .home__intro-text, .home__img {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px; }

.navigation {
  position: fixed;
  background-color: #eff0f4;
  padding: 0 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto; }
  .navigation__list {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
  .navigation__item {
    display: block;
    margin-bottom: 20px;
    text-align: center; }
    .navigation__item:last-child {
      margin-bottom: 0; }
  .navigation__link {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    color: #555;
    padding: 5px 30px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s ease; }
    .navigation__link.active {
      color: #984063; }
    .navigation__link:after {
      border-radius: 5px; }
  .navigation__close-menu {
    height: 40px;
    width: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius: 30%;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    text-align: center;
    color: #666;
    transition: all 0.3s ease; }
    .navigation__close-menu:after {
      border-radius: 30%; }

.copyright-text {
  position: absolute;
  left: -40px;
  top: 50%;
  font-size: 15px;
  color: #666;
  transform: translateY(-50%) rotate(-90deg); }

.section.hide {
  display: none; }

.navigation.open {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  transition: all 0.3s ease-in; }

.about {
  padding: 80px 0;
  min-height: 100vh; }
  .about__title {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px; }
  .about h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin: 0; }
    .about h2::before {
      content: attr(data-heading);
      display: block;
      font-size: 16px;
      font-weight: 600;
      color: #984063; }
  .about__img {
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 1px; }
  .about__img-box {
    padding: 15px; }
  .about__info-text {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px; }
    .about__info-text p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 15px;
      color: #666; }
    .about__info-text span {
      font-weight: 600; }
  .about img {
    width: 100%;
    border: 10px solid transparent; }
  .about__social-icon {
    margin-top: 20px;
    text-align: center; }
  .about__social-links {
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 23px;
    text-align: center;
    line-height: 40px;
    color: #666;
    margin: 0 15px;
    border-radius: 30%;
    transition: all 0.3s ease; }
    .about__social-links::after {
      border-radius: 30%; }
    .about__social-links:hover {
      color: #984063; }

.portfolio {
  padding: 80px 0 80px;
  min-height: 100vh;
  position: relative; }
  .portfolio__title {
    margin-bottom: 20px; }
  .portfolio__filter {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px; }
    .portfolio__filter-item {
      display: inline-block;
      margin: 0 5px 10px;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
      color: #666;
      text-transform: uppercase;
      font-size: 16px;
      transition: all 0.3s ease; }
      .portfolio__filter-item.active {
        color: #984063; }
      .portfolio__filter-item:hover:not(.active) {
        color: #984063;
        opacity: 0.6; }
  .portfolio__item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap; }
    .portfolio__item-details {
      display: none; }
    .portfolio__item-inner {
      padding: 15px;
      border-radius: 5px;
      width: 100%;
      transform: scale(1);
      transition: all 0.3s ease; }
      .portfolio__item-inner:hover {
        transform: scale(1.1); }
      .portfolio__item-inner button {
        text-align: center;
        margin: 10px auto;
        display: block;
        max-width: 50%;
        font-weight: 600;
        border: 0; }
    .portfolio__item-img {
      position: relative; }
      .portfolio__item-img a {
        text-align: center;
        margin: 0 auto;
        display: block;
        max-width: 50%;
        font-weight: 600; }
    .portfolio__item img {
      border-radius: 1px;
      width: 100%;
      cursor: pointer;
      margin-bottom: 15px; }
    .portfolio__item video {
      border-radius: 1px;
      width: 100%;
      cursor: pointer;
      margin-bottom: 15px; }
  .portfolio h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin: 0; }
    .portfolio h2::before {
      content: attr(data-heading);
      display: block;
      font-size: 16px;
      font-weight: 600;
      color: #984063; }
  .portfolio p {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 0;
    color: #555;
    text-transform: capitalize;
    text-align: center; }
  .portfolio__popup {
    background-color: #eff0f4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease; }
  .portfolio__pp-details {
    max-width: 1350px;
    width: 85%;
    margin: auto;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease; }
    .portfolio__pp-details-inner {
      padding: 30px 0; }
    .portfolio__pp-details-title {
      padding: 0 15px; }
      .portfolio__pp-details-title h2 {
        font-size: 28px;
        color: #000;
        transform: uppercase;
        font-weight: 600;
        margin: 0 0 5px; }
      .portfolio__pp-details-title p {
        font-size: 14px;
        font-weight: 600;
        color: #666;
        margin: 0 0 15px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px; }
  .portfolio__project-details h3 {
    font-size: 20px;
    font-weight: 600;
    color: #555;
    margin: 0 0 15px;
    text-transform: capitalize; }
  .portfolio__description {
    flex: 0 0 65%;
    max-width: 65%;
    padding: 0 15px; }
    .portfolio__description p {
      font-size: 16px;
      color: #666;
      line-height: 26px;
      margin: 0; }
  .portfolio__info {
    flex: 0 0 35%;
    max-width: 35%;
    padding: 0 15px; }
    .portfolio__info ul li {
      display: block;
      margin-bottom: 10px;
      font-weight: 600;
      color: #666;
      font-size: 16px; }
      .portfolio__info ul li a {
        color: #984063; }
    .portfolio__info li:last-child {
      margin-bottom: 0; }
  .portfolio__pp-img {
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 3px; }
  .portfolio__pp-main {
    min-height: 100vh;
    max-width: 1350px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .portfolio__pp-main-inner {
      background-color: #eff0f4;
      padding: 70px 0 50px; }
  .portfolio__pp-title {
    position: absolute;
    left: 0;
    top: -15px; }
    .portfolio__pp-title i {
      margin-left: 7px; }
  .portfolio__pp-close {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    top: 15px;
    border-radius: 30%;
    text-align: center;
    line-height: 40px;
    font-size: 35px;
    color: #984063;
    cursor: pointer;
    transition: all 0.3s ease; }
    .portfolio__pp-close:after {
      border-radius: 30%; }
  .portfolio__pp-loader {
    position: fixed;
    z-index: 1005;
    margin: auto;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 0;
    visibility: hidden; }
    .portfolio__pp-loader div {
      height: 40px;
      width: 40px;
      border: 3px solid #984063;
      animation: spin 4s linear infinite; }
    .portfolio__pp-loader.active {
      opacity: 0.8;
      visibility: visible; }

.portfolio__item.hide {
  display: none; }

.portfolio__item.show {
  display: block;
  animation: fadeInTop 0.5s ease; }

.portfolio__popup.open {
  visibility: visible;
  opacity: 1; }

.portfolio__pp-details.active {
  opacity: 1; }
