$color-primary: #984063;
$color-primary-light: #f64668;
$color-primary-dark: #41436a;

$color-secondary-light: #fe9677;
$color-secondary-dark: #189ad3;

$color-white: #fff;
$color-grey: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e8e8e8;
$color-grey-light-3: #eee;
$color-text-black-900: #000;
$color-text-black-700: #555;
$color-text-black-600: #666;
$color-text-black-300: #bbb;

$color-bg-black-900: #000;
$color-bg-black-100: #ddd;
$color-bg-black-50: #eff0f4;

$shadow-outer: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
$shadow-outer-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
$shadow-inner: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
