@import "abstracts/_variables";
@import "abstracts/mixins";

@import "base/_base";
@import "base/_animations";
@import "base/_typography";
@import "base/_utilities";

@import "components/_button";
@import "components/_effects";
@import "components/social-icons";

@import "layout/_header";
@import "layout/_home.scss";
@import "layout/_navigation";
@import "layout/about";
@import "layout/_portfolio.scss";
@import "layout/_contact";
