.contact {
  position: relative;
  height: 100vh;

  @include breakpoint(phone) {
    flex: 0 0 100%;
    max-width: 100%;
  }

  &__title {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin: 20px 0;

    @include breakpoint(phone) {
      margin: 20px 0 20px 0;
    }
  }

  h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: $color-text-black-900;
    text-transform: uppercase;
    margin-top: 0;

    &::before {
      content: attr(data-heading);
      display: block;
      font-size: 16px;
      font-weight: 600;
      color: $color-primary;
    }
  }

  &__info {
    height: 120px;
    width: 100px;
    flex: 0 0 33%;
    max-width: 100%;
    position: relative;
    text-align: center;
    margin: 30px auto;
    border-radius: 2px;

    @include breakpoint(phone) {
      flex: 0 0 100%;
      max-width: 100%;
      height: 100px;
      width: 100px;
    }

    h2 {
      color: $color-primary;
      font-weight: 600;
      font-size: 20px;
      padding: 10px;
      margin-bottom: 0;

      @include breakpoint(phone) {
        font-size: 14px;
        font-weight: 700;
      }
    }

    h3 {
      text-transform: uppercase;
      margin-top: 10px;
      padding: 10px;
      color: $color-text-black-600;

      @include breakpoint(phone) {
        font-size: 13px;
        font-weight: 600;
      }
    }
  }

  &__icon {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 25px 0 50px 0;
  }

  &__fly {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 48px;
    margin: 35px 0 20px 0;

    &:hover {
      animation: fly 5s ease;

      @include breakpoint(phone) {
        color: $color-primary;
      }
    }

    @include breakpoint(phone) {
      margin: 0;
    }
  }

  &__copyright-text {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-weight: 600;
    color: $color-text-black-600;
  }

  &.section {
    padding: 48px 25px 25px 25px;
  }
}
