.home {
  position: relative;

  &__full-screen {
    padding: 50px 0;
    min-height: 100vh;

    @include breakpoint(phone) {
      padding: 100px 0;
    }
  }

  &__intro-text {
    h1 {
      font-size: 20px;
      font-weight: 600;
      text-transform: capitalize;
      color: $color-text-black-700;
      margin: 0;
    }

    h2 {
      font-size: 55px;
      font-weight: 700;
      text-transform: capitalize;
      color: $color-text-black-900;
      margin: 0;
    }

    p {
      color: $color-text-black-600;
      font-size: 20px;
      text-transform: capitalize;
      margin: 0;
    }

    @include breakpoint(phone) {
      text-align: center;
    }
  }

  &__img-box {
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;

    img {
      width: 100%;
      border-radius: 50%;
      border: 10px solid transparent;
    }
    @include breakpoint(phone) {
      order: 2;
      margin-top: 40px;
      max-width: 234px;
    }
  }

  &__intro-text,
  &__img {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;

    @include breakpoint(phone) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
