.navigation {
  position: fixed;
  background-color: $color-bg-black-50;
  padding: 0 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;

  &__list {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: block;
    margin-bottom: 20px;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    color: $color-text-black-700;
    padding: 5px 30px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s ease;

    &.active {
      color: $color-primary;
    }

    &:after {
      border-radius: 5px;
    }
  }

  &__close-menu {
    height: 40px;
    width: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius: 30%;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    text-align: center;
    color: $color-text-black-600;
    transition: all 0.3s ease;

    &:after {
      border-radius: 30%;
    }
  }
}

.copyright-text {
  position: absolute;
  left: -40px;
  top: 50%;
  font-size: 15px;
  color: $color-text-black-600;
  transform: translateY(-50%) rotate(-90deg);
}

.section.hide {
  display: none;
}

.navigation.open {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  transition: all 0.3s ease-in;
}
