.portfolio {
  padding: 80px 0 80px;
  min-height: 100vh;
  position: relative;

  &__title {
    margin-bottom: 20px;
  }

  &__filter {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;

    &-item {
      display: inline-block;
      margin: 0 5px 10px;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
      color: $color-text-black-600;
      text-transform: uppercase;
      font-size: 16px;
      transition: all 0.3s ease;

      &.active {
        color: $color-primary;
      }

      &:hover:not(.active) {
        color: $color-primary;
        opacity: 0.6;
      }
    }
  }

  &__item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;

    &-details {
      display: none;
    }

    &-inner {
      padding: 15px;
      border-radius: 5px;
      width: 100%;
    }

    &-img {
      position: relative;

      a {
        text-align: center;
        margin: 0 auto;
        display: block;
        max-width: 50%;
        font-weight: 600;
      }
    }

    img {
      border-radius: 1px;
      width: 100%;
      cursor: pointer;
      margin-bottom: 15px;
    }
  }

  /* &__view-project {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    color: $color-primary;
    transition: all 0.3s ease;
  }*/

  p {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 0;
    color: $color-text-black-700;
    text-transform: capitalize;
  }
}
