.btn {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  color: $color-primary;
  background-color: transparent;
  line-height: 1.5;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  margin-top: 30px;

  &:after {
    border-radius: 5px;
  }

  &--margin-right {
    margin-right: 50px;
  }

  &--margin-top-small {
    margin-top: 15px;
  }

  &-about {
    @include breakpoint(phone) {
      text-align: center;
      margin-right: 0;
      display: block;
    }
  }
}
