@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounceLeft {
  0%,
  100% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(15px);
  }
}

@keyframes bouncers {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fly {
  0% {
    opacity: 1;
    transform: translateX(0%) translateY(0%);
  }

  50% {
    opacity: 0;
    transform: translateX(50%) translateY(-30%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%) translateY(-50%);
  }
}
