.justify-content-between {
  justify-content: space-between;
}

.outer-shadow {
  box-shadow: $shadow-outer;
}
.inner-shadow {
  box-shadow: $shadow-inner;
}
.hover-in-shadow {
  position: relative;
  z-index: 1;

  &:hover {
    box-shadow: $shadow-outer-0;
  }
}

.hover-in-shadow:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.hover-in-shadow:hover:after {
  box-shadow: $shadow-inner;
}

.align-items-center {
  align-items: center;
}

.separator {
  height: 2px;
  width: 100%;
  display: block;
  background-color: $color-bg-black-100;
}
